<header>
    <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <strong>Fattouma CO</strong>
            </a>
        </div>
        <div class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/">Accueil</a>
                <a class="navbar-item" href="/collections">Nos collections</a>
                <a class="navbar-item" href="/customize">Personnaliser</a>
                <a class="navbar-item" href="/cart">
                    <span class="icon">
                        <i class="fas fa-shopping-cart"></i>
                    </span>
                    <span>Panier</span>
                </a>
                <a class="navbar-item" href="/contact">Contact</a>
            </div>
            <div class="navbar-end">
                <div class="navbar-item">
                    <button id="music-toggle" class="button imary">
                        <span class="icon">
                            <i class="fas fa-volume-up"></i> <!-- Icône musique par défaut -->
                        </span>
                    </button>
                    <input id="volume-slider" type="range" min="0" max="1" step="0.1" value="1">
                </div>
                <div class="navbar-item">
                    <button id="theme-toggle" class="button is-primary">
                        <span id="theme-icon">🌙</span> <!-- Icône pour le dark mode -->
                    </button>
                </div>
            </div>
        </div>
    </nav>
</header>